/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.tempHeight{
	height:300px;
}
.tempHeightMed{
	height:200px;
}
.tempHeightSml{
  height:30px;
}
.img-portfolio {
    margin-bottom: 30px;
}
.whatsNeededRspPi p{margin: 0 10px; }
.img-hover:hover {
    opacity: 0.8;
}
.small-padding {
    padding: 50px 0px;
}
.bottom-padding {
    padding: 0px 0px 50px 0px;
}
.bottom-padding-small{
	padding-bottom: 20px;
}
.blog-margin {
    margin: 0px 0px 10px 0px;
}
.img-small{
	height: 50%;
	width: 50%;
}
/* See-through Section Styles */

.see-through-section {
    background: url(../images/background/1.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
.bg-overlay {
    background-color: rgba(60, 102, 251, 0.6);
}
.see-through-section .section-description {
    color: #fff;
    padding: 0px 5%;
}
.see-through-hide {
    padding-top: 30px;
    position: relative;
}
.see-through-message {
    text-align: center;
    font-size: 1.125em;
}
.section-padding {
    padding: 150px 0px;
}
#see-through-middle {
    background-color: rgb(255, 255, 255);

}
