---
---

@import "{{ site.theme }}";

.page-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 25px;
    text-align: center;
}

li > ul{
  padding-bottom: 1em;
}

.page-header li {
   // float: left;
    padding: 0;
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.page-header li a {
    display: inline-block;
    color: rgba(255,255,255,0.7);
    text-align: center;
    padding: 0.75rem 1rem;
    //padding: 14px 16px;
    text-decoration: none;
}

.page-header li a:hover, .dropdown:hover .dropbtn {
    //background-color: red;
    text-decoration: none;
}

.page-header li.dropdown {
    display: inline-block;
}

.page-header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.page-header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	background-color: #67DF9B;
	
}

.page-header .dropdown-content a:hover {background-color: #13CD9A}

.page-header .dropdown:hover .dropdown-content {
    display: block;
}
