<!DOCTYPE html>
 -	<html>
 -		<head>
 -			<title>{{ page.title }}</title>
 -			<!-- link to main stylesheet -->
 -			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
 -		</head>
 -		<body>
 -			<nav>
 -	    		<ul>
 -	        		<li><a href="{{ site.baseurl }}/">Home</a></li>
 -                    <li><a href="{{ site.baseurl }}/development/Ubuntu14-04-64-mCard-USB.html">Development</a></li>
 -	    		</ul>
 -			</nav>
 -			<div class="container">
 -			
 -			{{ content }}
 -			
 -			</div><!-- /.container -->
 -			<footer>
 -	    		<ul>
 -	        		<li><a href="https://github.com/OtagoPolytechnic/ThingsNetworkDunedin">github.com/OtagoPolytechnic/ThingsNetworkDunedin</a></li>
 -				</ul>
 -			</footer>
 -		</body>
 -	</html> 
