	
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
  <link rel="shortcut icon" href="/DunedinIoT/favicon.ico/favicon.ico" type="image/ico"/>

    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ site.baseurl }}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    
    <link href="{{ site.baseurl }}/css/stylish-portfolio.css" rel="stylesheet">
   

  </head>

  <body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <li class="fa fa-times"></li>
        </a>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#top">Menu</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="{{ site.github.repository_url }}">View on Github</a>
        </li>
        <li>
          <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Development
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="width: 242px; margin-left: 10px; background-color: #353535;">
          <li><a href="{{ site.baseurl }}/development/gateways/README.html">Gateways</a></li>
          <li><a href="{{ site.baseurl }}/development/nodes/README.html">Nodes</a></li>
          <li><a href="{{ site.baseurl }}/development/roomSensor/README.html">Sensors</a></li>
        </ul>
      </li>
        </li>
         <li>
          <a class="js-scroll-trigger" href="{{ site.baseurl }}/research/README.html">Research</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="{{ site.baseurl }}/tutorials/README.html">Quickstart</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="{{ site.baseurl }}/research/faq.html">FAQ</a>
        </li>  
        <li>
          <a class="js-scroll-trigger" href="#contact" onclick=$( "#menu-close").click();>Contact</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="{{ site.baseurl }}/about.html" onclick=$( "#menu-close").click();>About</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>Internet of Things</h1>
        <h5>Dunedin New Zealand</h5>
      </div>
    </header>

	    <!-- ********************* ADD MORE LINKS HERE ********************* -->

    <section class="container">
	
<!-- BREADCRUMBS CODE 	-->
{% include breadcrumbs.html path=page.path title=page.title %}
<!-- END BREADCRUMBS -->
      {{ content }}
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        <br>
        <span class="site-footer-credits"><strong>Banner Picture</strong> - Dunedin Railway Station by <a href="https://commons.wikimedia.org/wiki/User:Antilived">Antilived</a> - Own Work.     
                                            License - <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY SA-3.0</a>
        </span>
        
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

     <!-- Bootstrap core JavaScript -->
    <script src="{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/vendor/popper/popper.min.js"></script>
    <script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ site.baseurl }}/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ site.baseurl }}/js/stylish-portfolio.js"></script>


  </body>
</html>
